{% extends 'index.html' %}

{% block title %}
Brunch Of Kyes
{% endblock %}

{% block styles %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}
<form class="bk-block" method="POST">
	<!-- <div>
		<span class="char-count">Symbols: 0/16</span>
	</div> -->
	<div class="input-text-block">
		<span class="text-char-count count-label">Symbols: 0/16</span>
		<input placeholder="your text" type="text" name="phrase" maxlength="16" class="input-text" autocomplete="off" onkeyup="countLetters();">
		<span class="key-char-count count-label">Symbols: 0/6</span>
		<input placeholder="your secret key" type="text" name="phrase" maxlength="6" class="input-key input-text" autocomplete="off" onkeyup="countDigits();">
	</div>
	<div class="choice-action-block">
		<input placeholder="" type="radio" name="mode" value="crypt" class="input-radio" checked> <span class="count-label">Crypt</span>
		<input placeholder="" type="radio" name="mode" value="decrypt" class="input-radio"><span class="count-label"> DeCrypt</span>
	</div>
	<div class="result-block">
		<span class="count-label">Result: {{ result }}</span>	
	</div>
	<div class="action-block" method="POST">
		<button type="submit" class="push-btn">
			<span>get password</span>
		</button>	
	</div>
</form>

<!-- field update in real time -->
<script type="text/javascript">
	const textarea = document.querySelector(".input-text");
	const text_count = document.querySelector(".text-char-count");
	const keyarea = document.querySelector(".input-key")
	const key_count = document.querySelector(".key-char-count")

	function countLetters() {
		const text = textarea.value; // #1
		const textlength = textarea.value.length; // #2
		text_count.innerText = `Symbols: ${textlength}/16`; // #3
	}

	function countDigits() {
		const text = keyarea.value; // #1
		const keylength = keyarea.value.length; // #2
		key_count.innerText = `Symbols: ${keylength}/6`; // #3
	}

</script>
{% endblock %}