{% extends 'index.html' %}

{% block title %}
<!-- English In Cards -->
Language Bridge
{% endblock %}


{% block body %}
<p>waiter - официант<br>
self-service - самообслуживание<br>
choice - выбор<br>
dish, cource - блюдо<br>
confidence - доверие<br>
lunch-hour - обеденное время<br>
order dish - заказать блюдо<br>
study the menu - изучать меню<br>
pays the bill - оплатить счет<br>
informal chat - дружеская беседа</p>
Literacy - грамотность
Problem-solving device - устройство, обеспечивающее решение задачи
Be aware of - понимать, сознавать 
To restate - переосмыслить 
Computing - вычисления, расчёт 
To embrace - охватывать
To direct the operation - направлять работу
To process - обрабатывать
Data processing system - система обработки данных
To have much in common - иметь много общего
Significant - значительный
Basics - основы
Depend - зависеть
Your never know - никогда не знаешь что произойдёт
Decided - решил
Exact - точные
Discover - открывать что-то новое
disappointed - разочарован 
disappear - исчезнуть
Regret - пожалеть
To have an effect - влиять, иметь эффект
Bedside terminal - прикроватный терминал
Barcode technology - технология штрих кодов
To scan each product -сканировать каждый продукт
To look after - присматривать, следить за чем-либо
Barcoding items - проштрихованные товары
Attempt - попытка
Slim - изящный, стройный
Revise - пересмотреть 
Take into account - принять во внимание
Consequently - следовательно
Nonetheless - тем не менее
Furthermore - более того
Inevitably - неизбежно
Nevertheless - однако
Moreover - кроме того
Conversely - наоборот
In the meantime - тем временем
Intricate - сложный
Circuits - цепь 
To accept - принимать
It is considered - считается 
To carry out - выполнять
Instantaneously - мгновенно
To relate - связывать, создавать отношения
A broad view - широкий взгляд, обзор
Unit - блок, узел, элемент, компонент, устройство
Available - доступный, имеющийся в наличии
At the appropriate time - в нужной время
Control unit - блок управления
To cause - заставлять, вынуждать, быть причиной
To interpret - интерпретировать, истолковывать
To issue commands - выдавать команды
Pulse - no pulse - импульс (холостой импульс)
To accept data - принимать данные
To fed into - закладывать (данные в компьютер)
To perform - исполнять, выполнять; делать
To execute - выполнять, исполнять, осуществлять
To coordinate - координировать
Permanent - постоянный, неизменный; договорной
To enable - давать возможность или право
To plug - затыкать, закупоривать; вставлять
To allow - разрешать, позволять
Front | rear - передний | задний
interchangeably -взаимозаменяемым образом
internal memory -  внутренняя память
activity - деятельность, работа, действия операци
to issue - посылать (сигнал), выводить, выдавать
Response ответ, отклик, реакция, отвечать, реагировать
according to - согласно, в соответствии с level- уровень, степень, мера, выравнивать 
input-output port - порт ввода-вывода 
direct - направлять, адресовать, указывать, прямой, непосредственный
step-by-step operations- пошаговые операции 
to select - выбирать, выделять (на экране) 
on the other hand - с другой стороны exponentiation - возведение в стeпень 
Switch - переключатель, коммутатор.
Call for - требовать, предусматривать
To load - загружать, выполнять загрузку
to manage -  управлять, организовывать, справляться 
to obtain - получать, достигать, добиваться 
flow - поток, ход (выполнения программы), последовательность
counter - регистр, устройство регистрации, счетчик,датчик
instruction register - регистр команд
storage register - регистр памяти
address register - адресный регистр
temporarily - временно
decoder - дешифратор



Неправильные глаголы и времена
{% endblock %}
