{% extends 'index.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block styles%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/dashboard.css')}}">
<script src="{{url_for('static', filename='/js-scipts/dashboard.js')}}" defer></script>
{% endblock %}

{% block body %}
<div class="barbox">
	<div class="page-title">
		<h1>Dashboard</h1>
	</div>

	<div class="skill-box">
		<div class="skill-bar">
			<span class="skill-per">
				<span class="tooltip">7.72%</span>
			</span>
		</div>
		<span class="title">Storage 772.02$ / 10 000$</span>
	</div>
</div>

<div class="habits-calendars-box">
	<h1>Habits tracker</h1>
	<!-- <div class="calendar-header">
		<span class="month-picker" id="month-picker"> November </span>
		<div class="year-picker" id="year-picker">
			<span class="year-change" id="pre-change">
				<pre>
					
				</pre>
			</span>
			<span id="year">2023</span>
			<span class="year-change" id="next-year">
				<pre>
					
				</pre>
			</span>
		</div>
	</div>

	<div class="calendar-body">
		<div class="calendar-week-days">
			<div>Sun</div>
			<div>Mon</div>
			<div>Tue</div>
			<div>Wed</div>
			<div>Thu</div>
			<div>Fri</div>
			<div>Sat</div>
		</div>
		<div class="calendar-days">
			
		</div>
	</div>

	<div class="calendar-footer">
	</div>

	<div class="day-time-format">
		<div class="day-text-formate">
			TODAY
		</div>
		<div class="day-time-value">
			<div class="time-formate">07:07:10</div>
			<div class="date-formate">11 - November - 2023</div>
		</div>
	</div>

	<div class="month-list">
		
	</div> -->
</div>

<div class="goals-list">
	<div class="month">
		<h1>Month goals</h1>	
	</div>

	<div class="week">
		<h1>Week goals</h1>	
	</div>
</div>

<!-- <h1 class="home-level">10</h1> -->


<!-- <progress class="progressbar" value="200" max="500"> -->
<!-- <h1>Do list</h1> -->
{% endblock %}
