<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

	<!-- Стили сайта -->
	{% block styles %}{% endblock %}
	<!-- <script src="{{url_for('static', filename='/js-scripts/index.js')}}"></script> -->
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
	<!--
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/adaptive.css') }}"> -->
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename= '/img/logo.png') }}">

	{% block scripts %}
	{{ moment.include_moment() }}
	{% endblock %}

</head>
<body>
	<!-- <nav class="navbar">
		<div class="row">
			<div class="navbar-logo">
				<a onclick="location.reload()">
					<img src="{{ url_for('static', filename= '/img/logo.png')}}" height="70" width="66"/>
				</a>
			</div>
			<div class="navbar-menu-wrap">
				<ul class="navbar-menu">
					<li class="menu-item"><a href="/">Home</a></li>
					<li class="menu-item"><a href="/bunch-of-kyes">Bunch Of Kyes</a></li>
					<li class="menu-item"><a href="/financial-control">Financial Control</a></li>
					<li class="menu-item"><a href="/language-bridge">Language Bridge</a></li>
					<li class="menu-item"><a href="/thoughts">Thoughts</a></li>
					<li class="menu-item"><a href="/rewards-system">Rewards</a></li>
					<li class="menu-item"><a href="/progress">Progress</a></li>
				</ul>
			</div>
		</div>
	</nav> -->
	<div class="slidebar">
		<div class="top">
			<div class="logo">
				<a onclick="location.reload()">
					<img src="{{ url_for('static', filename= '/img/logo.png')}}" height="70" width="66"/>
				</a>
				<span>GrowthCatalyst</span>
			</div>
			<i class="bx bx-menu" id="btn"></i>
		</div>
		<ul>
			<li>
				<a href="/">
					<i class="bx bxs-grid-alt"></i>
					<span class="nav-item">Dashboard</span>
				</a>
				<span class="tooltip">Dashboard</span>
			</li>
			<li>
				<a href="/bunch-of-keys">
					<i class='bx bxs-key'></i>
					<span class="nav-item">BunchOfKeys</span>
				</a>
				<span class="tooltip">Bunch-Of-Kyes</span>
			</li>
			<li>
				<a href="/financial-control">
					<i class='bx bxs-briefcase' ></i>
					<span class="nav-item">Finance</span>
				</a>
				<span class="tooltip">Financial Control</span>
			</li>
			<li>
				<a href="/language-bridge">
					<i class='bx bxs-planet' ></i>
					<span class="nav-item">LangBridge</span>
				</a>
				<span class="tooltip">LangBridge</span>
			</li>
			<li>
				<a href="/thoughts">
					<i class='bx bxs-pin' ></i>
					<span class="nav-item">Thoughts</span>
				</a>
				<span class="tooltip">Thoughts</span>
			</li>
			<li>
				<a href="/rewards-system">
					<i class='bx bxs-coin' ></i>
					<span class="nav-item">Rewards</span>
				</a>
				<span class="tooltip">Rewards</span>
			</li>
			<li>
				<a href="/progress">
					<i class='bx bxs-bar-chart-alt-2' ></i>
					<span class="nav-item">Progress</span>
				</a>
				<span class="tooltip">Progress</span>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-shield' ></i>
					<span class="nav-item">Protocols</span>
				</a>
				<span class="tooltip">Protocols</span>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-bug'></i>
					<span class="nav-item">Mistakes</span>
				</a>
				<span class="tooltip">Mistakes</span>
			</li>
		</ul>
		<div class="information">
			<i class='bx bxl-flask'></i>	
		</div>	
	</div>

	<div class="main-content">
		<div class="content">
			{% block body %}{% endblock %}
		</div>
	</div>

	<script>
		let btn = document.querySelector("#btn");
		let slider = document.querySelector(".slidebar");
		btn.onclick= function(){
	        slider.classList.toggle('active');
		};
	</script>
</body>
</html>
