{% extends 'index.html' %}

{% block title %}
Financial control
{% endblock %}

{% block styles%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/mbs.css')}}">
{% endblock %}

{% block body %}
<form class="balance-box">
	<div class="balance-view">
		<h4>Total balance</h4>
		<h1>3 233.65 br</h1>
		<div class="acc-manage-box">
			<button class="manage-btn"><img src="{{url_for('static', filename='img/pencil.png')}}">Manage accounts</button>
		</div>
	</div>

	<div class="assets-box">
		<div class="assets-view">
			<h4>Income</h4>
			<h1>3 233.65 br</h1>
		</div>

		<div class="assets-view">
			<h4>Expenses</h4>
			<h1>3 233.65 br</h1>
		</div>
	</div>

	<div class="assets-box">
		<div class="assets-view">
			<h4>Cash</h4>
			<h1>3 233.65 br</h1>
		</div>

		<div class="assets-view">
			<h4>Card</h4>
			<h1>3 233.65 br</h1>
		</div>
	</div>
</form>


<div class="boxes">
	<div class="info-box c-red">
		<div class="content-title">
			<h5>As needed</h5>
		</div>
		<div class="content-amount">
			<p>$1120.24</p>
		</div>
		<div class="content-img">
		</div>
	</div>

	<div class="info-box c-aqua">
		<div class="content-title">
			<h5>Optional</h5>
		</div>
		<div class="content-amount">
			<p>1120.24 BYN</p>
		</div>
		<div class="content-img">
		</div>
	</div>

	<div class="info-box">
		<div class="content-title">
			<h5>Storage</h5>
		</div>
		<div class="content-amount">
			<p>1120.24р</p>
		</div>
		<div class="content-img">
		</div>
	</div>
</div>

<div class="navbar-mbs-container">
	<ul class="navbar-menu">
		<li class="menu-item"><a href="/financial-control/Transactions">Transactions</a></li>
		<li class="menu-item"><a href="/financial-control/">Cost</a></li>
		<li class="menu-item"><a href="/financial-control">Income</a></li>
	</ul>
</div>

<script src="{{ url_for('static', filename='js-scripts/mbs.js') }}"></script>
{% endblock %}
